<ul class="nav navbar-nav">
  <li class="classic-menu-dropdown">
    <a id="menu_dashboard" href="/">
      控制台
    </a>
  </li>
  <% if can? :edit, :profile %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      我的信息<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "我的信息", edit_profile_path, { id: "menu_myprofile" } %>
      </li>
      <% if can? :index, AaTrailer %>
        <li>
          <%= link_to "我的车辆", aa_trailers_path, { id: "menu_aa_trailers" } %>
        </li>
      <% end %>
      <% if can? :index, AaWorker %>
        <li>
          <%= link_to "我的救援工", aa_workers_path, { id: "menu_aa_workers" } %>
        </li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <% if can? :index, AaCase %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      我的任务<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "我的所有任务", aa_cases_path, { id: "menu_aa_cases" } %>
      </li>
      <li>
        <%= link_to "我的已完成任务", complete_aa_cases_path, { id: "menu_complete_aa_cases" } %>
      </li>
    </ul>
  </li>
  <% end %>
  
  <% if can? :index, Collect %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      我的收款<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "收款记录", collects_path, { id: "menu_collects"} %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :index, AccountingJob %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      我的结算<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <% if can? :accounting, AaCase %>
        <li>
          <%= link_to "待提交结算", accounting_aa_cases_path, { id: "menu_accounting_aa_cases" } %>
        </li>
      <% end %>
      <li>
        <%= link_to "待确认结算", accounting_jobs_path(status: '待供应商核算'), { id: "menu_accounting_jobs" } %>
      </li>
      <li>
        <%= link_to "待结算部审核", accounting_jobs_path(status: '待结算部核算'), { id: "menu_accounting_jobs" } %>
      </li>
      <li>
        <%= link_to "已完成结算", accounting_jobs_path(status: '已完成'), { id: "menu_accounting_jobs" } %>
      </li>
    </ul>
  </li>
  <% end %>
  <% if can? :index, User %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      系统管理<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "供应商账号", users_path, { id: "menu_users" } %></li>
      <% if can? :manage, AaVendor %>
        <li><%= link_to "供应商信息", aa_vendors_path, { id: "menu_aa_vendors" } %></li>
      <% end %>
      <% if can? :index, AaWorker %>
        <li><%= link_to "救援工信息", aa_workers_path, { id: "menu_aa_workers" } %></li>
      <% end %>
      <% if can? :index, AaTrailer %>
        <li><%= link_to "车辆信息", aa_trailers_path, { id: "menu_aa_trailers" } %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <% if can? :show_location, Device %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      设备管理<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
    <% if can? :index, Device %>
      <li><%= link_to "设备登记", devices_path, { id: "menu_devices" } %></li>
    <% end %>
    <% if can? :index, DeviceGroup %>
      <li><%= link_to "设备组", device_groups_path, { id: "menu_device_groups" } %></li>
    <% end %>
    <% if can? :profile, DeviceGroup %>
      <li><%= link_to "设备组", profile_device_groups_path, { id: "menu_profile_device_groups" } %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
  <% if can? :index, :statis_provinces %>
  <li class="classic-menu-dropdown">
    <a data-toggle="dropdown" data-hover="dropdown" data-close-others="true" href="">
      统计分析<i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu">
      <% if can? :index, :statis_provinces %>
      <li><%= link_to "省份统计", statis_provinces_path, { id: "menu_statis_provinces" } %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'highlight_menu', 'data-turbolinks-track' => false %>
<% end %>