<tr>
  <td>
    <%= f.c_text_field(:name) %>
  </td>
  <td>
    <%= f.c_text_field(:id_no) %>
  </td>
  <td>
    <%= f.c_text_field(:mobile) %>
  </td>
  <td>
    <%= f.c_text_field(:driving_license_no) %>
  </td>
  <td>
    <%= f.c_text_field(:qualification_no) %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <a class="btn default btn-xs black remove_fields" href="#">删除</a>
  </td>
</tr>

